<body>

    <h2>Listado de Categorías</h2>
  
    <table class="custom-table">
      <thead>
        <tr>
          <th class="custom-cell">Categoría</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="custom-cell">Ventas</td>
        </tr>
        <tr>
          <td class="custom-cell">Contabilidad</td>
        </tr>
        <tr>
          <td class="custom-cell">Transporte</td>
        </tr>
        <tr>
          <td class="custom-cell">Informática</td>
        </tr>
        <tr>
          <td class="custom-cell">Construcción</td>
        </tr>
   
      </tbody>
    </table>
  

  
  </body>
